{% extends 'NGO/main.html'%}

{% block content %}

<div class="container mt-4 pt-3">

    <div class="card shadow-lg border-0 rounded-4 p-4">

        <h2 class="fw-bold mb-3 text-center textpink ">
            Here are the details of {{ donor.username }}
        </h2>

        <div class="card-body">

            <p class="fs-5">
                <strong>DONOR NAME :</strong> {{ donor.username }}
            </p>

            <p class="fs-5">
                <strong>DONOR EMAIL :</strong> {{ donor.email }}
            </p>

            <p class="fs-5">
                <strong>Status :</strong>
                {% if donor.profile.is_authorized %}
                    <span class="text-success fw-semibold">Authorised</span>
                {% else %}
                    <span class="text-danger fw-semibold">Not Authorised</span>
                {% endif %}
            </p>

            {% if not donor.profile.is_authorized %}
                <a href="{% url 'NGOauthorizeDonor' donor.id %}"
                   class="btn btn-success rounded-pill px-4 me-2">
                    Approve
                </a>
            {% endif %}

            <a href="{% url 'NGOviewDonors' %}"
               class="btn  bgpurple text-light btn-outline-secondary rounded-pill px-4">
                Go Back
            </a>

        </div>

    </div>

</div>

{% endblock %}
