{% extends 'Donor/main.html'%}

{% block content %}
<h2> DONATE HERE. </h2>
<div>
    <form action="" method="POST">
        {% csrf_token %}
  <div class="mb-3">
    <label for="phoneNumber" class="form-label">Phone Number</label>
    <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber">
    <div id="phoneNumberHelp" class="form-text">We will send you an Mpesa Prompt,please enter you Number Here.</div>
  </div>
  <div class="mb-3">
    <label for="amount" class="form-label">Amount</label>
    <input type="text" class="form-control" id="amount" name="amount">
  </div>
  
  <button type="submit" class="btn btn-primary">DONATE</button>
</form>

<!-- <div class="container bg-success text-dark">  </div>
{{response}} -->

</div>
{% endblock %}